{erl_opts, [debug_info]}.
{project_plugins, [erlfmt]}.
{plugins, [
    {rebar3_codecov, "0.2.1"}
]}.
{deps, [
    {meck, "~> 0.9.2"},
    {jsx, "~> 3.1.0"},
    {trails, "~> 2.0.0"}
]}.

{provider_hooks, [
    %% Use ct, eunit, or both if you test your project with both frameworks.
    {post, [{ct, {codecov, analyze}}]},
    {post, [{eunit, {codecov, analyze}}]}
]}.

{cover_enabled, true}.
